* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(rgb(255, 255, 247), beige);
  height: 100%;
}

main {
  padding: 1rem;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template:
    "image image" 200px
    "msg btn" 100px/
    1fr 80px;
  width: 400px;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.card > img {
  grid-area: image;
  height: 200px;
  width: 400px;
  object-fit: cover;
}

.card > p {
  grid-area: msg;
}

.card > button {
  grid-area: btn;
  background-color: transparent;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-top: 1rem;
  /* align-self: center; */
}

.tile {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
